  <ion-view  view-title="{{ 'Mailboxes' | translate}}"  >

  <ion-nav-buttons side="right">

    <button disabled="" class="button" style="border-style: none" ng-click="searchcon()">
      <i class="icon ion-ios7-search" style="{{colorFont}}"></i>
    </button>

    <!-- <a href="#/app/newmail">
      <button class="button" style="border-style: none" >
        <i class="icon ion-edit" style="{{colorFont}}"></i>
      </button>  
    </a> -->

  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item nav-clear ng-repeat="item in folders" type="item-text-wrap" href="#/app/mail-list?folderId={{item.folderId}}&folderName={{item.folderName}}" style='{{colorFont}}'>

        <i class="{{getClassImage(item)}}">
          {{ item.folderName | translate}}
        </i>

      </ion-item>
    </ion-list>
  </ion-content>
