<ion-view view-title="{{ 'Contacts' | translate}}">

  <ion-nav-buttons side="right">

    <!-- <button class="button" style="border-style: none" ng-click="doRefresh()">
      <i class="icon ion-person" style="{{colorFont}}"></i>
    </button> -->

    <a href="#/app/contacts">
      <button class="button" style="border-style: none" ng-click="searchcon()">
        <i class="icon ion-ios7-search" style="{{colorFont}}"></i>
      </button>
    </a>


   <!--  <a href="#/app/newperson">
      <button class="button" style="border-style: none" ng-click="">
        <i class="icon ion-person-add" style="{{colorFont}}"></i>
      </button>
    </a>

    <a href="#/app/neworganization">
      <button class="button"style="border-style: none" ng-click="">
        <i class="icon ion-person-stalker" style="{{colorFont}}"></i>
      </button>
    </a> -->
  </ion-nav-buttons>
    
    
    
  <div ng-if="showSearchBar" class="bar bar-subheader item-input-inset">
    <span class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>

      <input id="searchKey" type="search" placeholder="{{ 'Search' | translate}}" ng-model="$parent.searchKey" autocorrect="off" focus="true" ng-enter="search()">
      <button class="button button-clear" ng-click="clearSearch()">X</button>
    </span>

    <button class="button button-clear button-assertive" ng-click="search()">{{ 'Search' | translate}}</button>
  </div>


  <ion-content ng-class="showSearchBar ? 'has-header has-subheader' : 'has-header'">


    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list ng-repeat="item in contacts">
<!-- CONTACT PERSON -->
        <a ng-if='item.contactPersonAddressId != ""' class="item item-thumbnail-left"  ng-href="{{getContactUrl(item,'contactPerson')}}" style="padding-left: 75px;">
            <img ng-if='item.imageId !=""' ng-src="{{apiUrlLocal}}{{item.imageUrl}}" style="width: 60px;">
            <img ng-if='item.imageId ==""' ng-src="img/contactp.png" style="width: 60px; height: 60px">                      

            <h2>{{item.contactPersonOfName}}</h2>
            <p>{{item.addressName}} </p>
            <p>{{item.function}}</p>
        </a>

<!-- Organization -->
        <a ng-if='item.contactPersonAddressId == "" &&  item.addressType == "0"' class="item item-thumbnail-left"  style="padding-left: 75px;" ng-href="{{getContactUrl(item,'organization')}}">
          <img ng-if='item.imageId !=""' ng-src="{{apiUrlLocal}}{{item.imageUrl}}" style="width: 60px;">
          <img ng-if='item.imageId ==""' ng-src="img/org.png" style="width: 60px; height: 60px">

          <h2>{{item.addressName}}</h2>
          <p>{{item.zip}} {{item.cityName}}</p>
        </a>
     
  <!-- PERSON -->
        <a ng-if='item.contactPersonAddressId == "" && item.addressType == "1"' class="item item-thumbnail-left"  style="padding-left: 75px;" ng-href="{{getContactUrl(item,'person')}}">
                                    
            <img ng-if='item.imageId !=""' ng-src="{{apiUrlLocal}}{{item.imageUrl}}" style="width: 60px;">
            <img ng-if='item.imageId ==""' ng-src="img/person.png" style="width: 60px; height: 60px">          
           
            <h2>{{item.addressName}}</h2>
            <p>{{item.zip}} {{item.cityName}}</p>
        </a>
    </ion-list>

    <ion-infinite-scroll ng-if="asknext" immediate-check="false" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
