
<ion-view view-title="{{ntitle}}">

  <ion-nav-buttons side="right">

    <button class="button" style="border-style: none" ng-click="saveOrganization()">
      <i class="icon ion-checkmark" style="{{colorFont}}"></i>
    </button>

  </ion-nav-buttons>

  <ion-content>

    <form >
      <div class="list">
<!--            style="height:15px"-->
        <div class="item item-divider bar bar-header bar-assertive">{{ntitle}}</div>
          
        <label class="item item-input">
          <div class="input-label">Name</div>
          <input type="text" ng-model="entity.name1" placeholder="Name" maxlength="60" name="dto(name1)" required="required" validated>                    
        </label>

        <label class="item item-input">
          <div class="input-label"></div>
          <input type="text" ng-model="entity.name2" placeholder="Name" maxlength="60" name="dto(name2)" required="required" validated>
        </label>

        <label class="item item-input">
          <div class="input-label"></div>
          <input type="text" ng-model="entity.name3" placeholder="Name" maxlength="60" name="dto(name3)" required="required" validated>          
        </label>           

        <label class="item item-input">
          <div class="input-label">Street</div>
          <input type="text" name="dto(street)" maxlength="40" ng-model="entity.street" placeholder="Street" ng-model="data.street">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Country</div>
          <select ng-model="country" ng-change="updateCountry(country)" id="countryId" name="countryId" ng-options="c.name for c in countries"></select>
        </label>
    
        <label class="item item-input item-select">
          <div class="input-label">City</div>      
          <select ng-model="city" ng-change="updateCity(city)" id="cityId" name="cityId" ng-options="c.name for c in cities"></select>       
        </label>        
     
        <label class="item item-input item-select">
          <div class="input-label">Language</div>
          <select ng-model="language" ng-change="updateLanguage(language)" name="dto(languageId)" ng-options="c.name for c in languages"></select>    
        </label>

        <div class="item item-divider bar bar-header bar-assertive">Comunication Info</div>

          <div class="item item-input" data-ng-repeat="choice in choices">
            <button class="button" style="border-style: none" ng-click="removeChoice(choice)">
              <i class="ion-minus-circled" style="{{colorFont}}"></i>
            </button>           
            <input type="text" ng-model="choice.value" disabled>  
            <b><input type="text" ng-model="choice.telecomvalue" disabled></b>
          </div>       
  
          <div class="item item-input item-select">
            <button class="button" style="border-style: none" ng-click="addNewChoice(auxvalue,telecom); auxvalue = ''">
              <i class="ion-plus-circled" style="{{colorFont}}"></i>
            </button>            
            <input type="text" ng-model="auxvalue">            
            <select ng-model="telecom" ng-options="c.name for c in telecoms"></select>  
          </div>        

        <div class="item item-divider bar bar-header bar-assertive">Data access security</div>
          <a class="item item-icon-right" ng-click="showPopup()">                    
                Allowed user groups
                    <i class="icon ion-arrow-right-c"></i>
                  </a>  
                     
        <div class="item item-divider bar bar-header bar-assertive">Additional info</div>            
            <!-- <div class="list card">

              <div class="button-bar">
                <a class="button" ng-click="takePicture()">Take Picture</a>
                <a class="button" ng-click="pickerImage()">Picker Image</a>               
              </div>

              <div class="item item-body">
                <img width="{{iframeWidth * 0.90}}"ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <img width="{{iframeWidth * 0.90}}" ng-show="imgURI === undefined" ng-src="img/person.png">  
              </div>
              
            </div>   -->  

            <div class="row">
              <div class="col "> 

              <div class="item item-body">
                <img width="{{iframeWidth * 0.4}}"ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <img width="{{iframeWidth * 0.4}}" ng-show="imgURI === undefined" ng-src="img/person.png">  
              </div>

              </div>
              <div class="col">
                <h4 align = "center">Photo</h4>
                <a class="button button-block  icon ion-camera" ng-click="takePicture()" style="{{colorFont}}"></a>
                <a class="button button-block icon ion-images" ng-click="pickerImage()" style="{{colorFont}}"></a>               
           
            </div>
           </div>
      </div>
    </form>

  </ion-content>
</ion-view>
