<ion-view cache-view="true" view-title="{{ 'Detail' | translate}}">


  <ion-nav-buttons side="right">

   <!--  <button class="button disabled" style="border-style: none" ng-click="borrarPersona()">
      <i class="icon ion-trash-a" style="{{colorFont}}"></i>
    </button> -->

   <!--  <a ng-href="#/app/editOrganization">
    	<button class="button" style="border-style: none" >
    	        	<i class="icon ion-edit" style="{{colorFont}}"></i>
        </button>  
    </a> -->

    <a ng-href="#">
      <button class="button disabled" style="border-style: none" >
                <i class="icon ion-person-stalker" style="{{colorFont}}"></i>
        </button>
  </ion-nav-buttons>

  <ion-content>
    
    <div class="list card">    
    <!-- ORGANIZATION -->
      <div class="item item-thumbnail-left" style="padding-top: 0px;">
        <img ng-if='contact.mainData.entity.imageId ==""' ng-src="img/org.png" style="width: 80px; height: 80px">
        <img ng-if='contact.mainData.entity.imageId !=""' ng-src="{{apiUrlLocal}}{{contact.mainData.entity.imageUrl}}" style="width: 60px;">
        <div>

          <div ng-if="contact.mainData.entity.name1" class="card">
            <div class="item item-body-auto">
              {{contact.mainData.entity.name1}} {{contact.mainData.entity.name2}} {{contact.mainData.entity.name3}}
            </div>
          </div>        

        </div>
      </div>   
    </div> 
  

    <div class="list card">
       	<div class="item item-divider bar bar-header bar-assertive" style="
        height: 35px;">
         	<h2>{{ 'Address' | translate}}</h2>
       	</div>      

        <div class="item item-body">
          	<div ng-if='contact.mainData.entity.street != ""'>{{contact.mainData.entity.street}} {{contact.mainData.entity.houseNumber}}</div>
          	<div ng-if='contact.mainData.entity.city != ""'>{{contact.mainData.entity.zip}} {{contact.mainData.entity.city}}</div>
          	<div ng-if='contact.mainData.entity.countryId != ""'> {{countryName}}</div>
        </div>   
    </div>

    <div class="list card">
       	<div class="item item-divider bar bar-header bar-assertive" style="
        height: 35px;">
         	<h2>{{ 'Communication' | translate}}</h2>
       	</div>
  
       	<div class="item item-body">

        	<div ng-if="firstGruoup.length != 0">
                <div ng-repeat="telecom in firstGruoup">
                  <div ng-repeat="tele in telecom.telecomList">
                    <table style="width:100%">
                      <tr>
                        <td style="width:35%;">{{telecom.telecomTypeName}}:</td>                                            
                        <td style="width:65%;">

                        <a ng-if="telecom.telecomTypeType == 'PHONE'" ng-href="tel:{{tele.data}}">{{tele.data}}</a>   
                        <a ng-click="writeEmail(tele.data)" ng-if="telecom.telecomTypeType == 'EMAIL'">{{tele.data}}</a>

                        </td>                    
                      </tr>                    
                    </table>                           
                  </div>
            </div>
          </div>
          <br>
          <div ng-if="secondGruoup.length != 0">            
                <div ng-repeat="telecom in secondGruoup">
                  <div ng-repeat="tele in telecom.telecomList">
                    <table style="width:100%">
                      <tr>
                        <td style="width:35%;">{{telecom.telecomTypeName}}:</td>                                            
                        <td style="width:65%;">
                          <a ng-if="telecom.telecomTypeType == 'LINK'"  href="#" ng-click="go_to(tele.data)">{{tele.data}}</a>
                          <a ng-if="telecom.telecomTypeType != 'LINK'" >{{tele.data}}</a>
                          </td>                    
                      </tr>                    
                    </table> 
                  </div>
                </div>              
          </div>
      	</div>
    </div>

  </ion-content>
</ion-view>
