
<ion-view view-title="{{ 'Login' | translate}}" name="login-view">
  <ion-content class="padding">  
    <div align="center">       
        <img ng-if="imageUrlCompany == undefined" class="img-responsive" src="img/bm_image.png">
        <img ng-if="imageUrlCompany != undefined" class="img-responsive" ng-src="{{imageUrlCompany}}">      
      <!-- <div class="col"></div> -->
    </div>
    <br>
      <!-- ng-submit="doLogin()" -->
    <form >
      <div class="list">

        <label class="item item-input">
            <input type="text" placeholder="{{ 'Username' | translate}}" ng-model="data.username">
            <!-- required -->
        </label>

        <label class="item item-input">
            <input type="password" placeholder="{{ 'Password' | translate}}" ng-model="data.password">
            <!-- required -->
        </label>

        <label class="item item-input">
            <input type="text" placeholder="{{ 'Company' | translate}}" ng-model="data.company">
            <!-- required -->
        </label>

      </div>

      <div class="row">
        <!-- <div class="row"> -->
          
          <div class="col col-10"></div>

          <div class="col col-90">
            <button class="button button-full button-positive" style="background-color: #B80808;border-color: #B80808"  ng-click="doLogin()">{{ 'Login' | translate}}</button>        
          </div>

          <div class="col col-10"></div>

          <!--  CADECO -->
          <!-- <div class="col col-10">
            <button class="button button-outline button-light" style="border-style: none; 
              margin-top: 11px;" ng-click="searchCadeco()">
              <i class="icon ion-ios7-search" style="{{colorFont}}"></i>
            </button>  
          </div> -->

        <!-- </div> -->
      </div>

    </form>
    <!-- <br>     -->
    <!-- CADECO -->
    <!-- <div class="row">     
      <div class="col col-20"></div>
        <div class="col col-80" style="display: inline-block;">
           <ion-slide-box slide-interval="2000" show-pager="true" auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
            
            <ion-slide>              
              <a href="#" onClick="window.open('https://www.facebook.com/jatunsrl','_system');">             
               <img width="{{iframeWidth * 0.20}}" src="img/jatun.jpg" />
              </a>
               <img width="{{iframeWidth * 0.20}}" src="img/piramide.png" />
              <a href="#" onClick="window.open('https://www.facebook.com/camaradecomercio.cbba','_system','location=yes');return false;">                 
                <img width="{{iframeWidth * 0.20}}" src="img/cadeco.png" />
              </a>                    
            </ion-slide>

            <ion-slide>                           
               <img width="{{iframeWidth * 0.20}}" src="img/piramide.png" />
              <a href="#" onClick="window.open('https://www.facebook.com/camaradecomercio.cbba','_system','location=yes');return false;">                 
                <img width="{{iframeWidth * 0.20}}" src="img/cadeco.png" />                
              </a>            
              <img width="{{iframeWidth * 0.20}}" src="img/pscteam.jpg" />              
            </ion-slide>

            <ion-slide>                                     
              <a href="#" onClick="window.open('https://www.facebook.com/camaradecomercio.cbba','_system','location=yes');return false;">                 
                <img width="{{iframeWidth * 0.20}}" src="img/cadeco.png" />                
              </a>            
              <img width="{{iframeWidth * 0.20}}" src="img/pscteam.jpg" /> 
              <a href="#" onClick="window.open('https://www.facebook.com/jatunsrl','_system');">             
               <img width="{{iframeWidth * 0.20}}" src="img/jatun.jpg" />
              </a>             
            </ion-slide>
             <ion-slide>                                                       
              <img width="{{iframeWidth * 0.20}}" src="img/pscteam.jpg" /> 
              <a href="#" onClick="window.open('https://www.facebook.com/jatunsrl','_system');">             
              <img width="{{iframeWidth * 0.20}}" src="img/jatun.jpg" />
              <img width="{{iframeWidth * 0.20}}" src="img/piramide.png" />
              </a>             
            </ion-slide>
          </ion-slide-box>
        </div>    
    </div> -->

  </ion-content>
</ion-view>
